<!DOCTYPE html>
<html lang="Ru">
<head>
    <meta charset="UTF-8">
    <title>grade</title>
</head>
<body>
    <div style="display: flex; justify-content: center;">
        <h1>Выберите ученика из класса {{class}} достижения которого вас интересуют</h1>
    </div>

    <div style="display: flex; justify-content: space-around; margin-bottom: 400px;">
        <a href="/reward">
            <button>
                <p>Потапов Тимофей</p>
            </button>
        </a>

        <a href="/add-person">
            <button>
                <p>Добавить ученика</p>
            </button>
        </a>
    </div>

    <div>
        <a style=" display: flex; flex-direction: reverse-column; justify-content: center" href="/choose-grade">
            <button>
                <p>Домой</p>
            </button>
        </a>
    </div>
</body>
</html>