<!DOCTYPE html>
<html lang="Ru">
<head>
    <meta charset="UTF-8">
    <title>Shool reward</title>
</head>
<body>
    <div style="display: flex; justify-content: center;">
        <h1>Выберите класс достижения которого вас интересуют</h1>
    </div>

    <div style="display: flex; justify-content: space-around;">
        <a href="/choose-person">
            <button>
                <p>7А</p>
            </button>
        </a>

        <a href="/add-grade">
            <button>
                <p>Добавить класс</p>
            </button>
        </a>
    </div>
</body>
</html>