<h1>{{ student[1] }}</h1>

{% if is_owner %}
    <h3>Добавить достижение</h3>
    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div>{{ form.description.label }} {{ form.description() }}</div>
        <div>{{ form.file.label }} {{ form.file() }}</div>
        <div>{{ form.submit() }}</div>
    </form>
{% else %}
    <p>Вы не можете редактировать эту страницу.</p>
{% endif %}

<h3>Достижения:</h3>
<ul>
    {% for achievement in achievements %}
        <li>
            <img src="{{ url_for('static', filename='uploads/' + achievement[0]) }}" alt="Achievement" width="100">
            <p>{{ achievement[1] }}</p>
        </li>
    {% endfor %}
</ul>